[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
appium-python-client = "==2.11.1"
requests = "==2.31.0"
robotframework = "==6.1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
